<section class="assos-wrapper">
  <div class="assos-infos">
    <h2 class="titleAsso">Trust is always earned, never given.</h2>
    <h3 class="soustitleAsso">The non-profit organizations below are all part of the <a id="linkConfiance"
        target="_blank" href="http://www.donenconfiance.org/">Le Don en Confiance </a> label, but we
      do have a <a id="linkLabel" href="/label">few other requirements</a>.</h3>
    {{#unless assos}}
    <p class="text-block">no assos yet!! wtf</p>
    {{/unless}}
    <ul id="assosList" class="list">

      {{#if assos}}
      {{#each assos}}
      {{#unless this.isCampagne}}
      <li class="square assoBox {{this.categoryAsso}}">
        <a href="/one_asso/{{this._id}}">
          <div class="wrappy">
            <h2 class=" title mini">{{ this.name }}</h2>
            <p class="since">Since {{this.since}}</p>
            <p class="theydo">{{this.theyDo}}</p>
            <a href="/one_asso/{{this._id}}" class="assoButton">I wanna help </a>
          </div>
        </a>
      </li>
      {{/unless}}
      {{#if this.isCampagne}}
      <li class="assoBoxPub">
        <a href="{{this.href}}" target="_blank">
          <img class="imagePub" src="/img/{{this.image}}"></a>
      </li>
      {{/if}}
      {{/each}}
      {{/if}}
    </ul>

  </div>
</section>