<div class="one-asso-container">
  <div class="informationDiv">
    <a class="asso-imageBox" href={{asso.linkSite}} target="_blank">
      <img src={{asso.image}} alt="img-product" class="asso-img">
    </a>
    <div class="asso-info {{asso.categoryAsso}}">
      <h2 class="asso-name">{{asso.name}}</h2>
      <p class="asso-since"><span class="subtitleAssos">Since:</span> {{asso.since}}</p>
      <p class="asso-theyDo"><span class="subtitleAssos">What we do: </span>{{asso.theyDo}}</p>
      <p class="asso-lastMission"><span class="subtitleAssos">Last Mission: </span>{{asso.lastMission}}</p>
      <a class="showMoney" href={{asso.linkMoney}} target="_blank">See last financial report</a>
    </div>
  </div>
  <div class="donationDiv">
    <div class="moneyDonation">
      <h3 class="titleMoney">Give <i class="fas fa-dollar-sign"></i>
      </h3>
      <div class="formMoney">
        <h4>what you can.</h4>
        <label class="labelMoney">recurring donation (every month)</label>
        <input placeholder="idk like.. 20$?" name="since" type="Number" class="input">
        </br>
        <label class="labelMoney">one-time donation</label>
        <input placeholder="mhhh... 100$?" name="since" type="Number" class="input">
        <button class="moneyButton" onclick=""> checkout</button>
      </div>
    </div>
    <div class="timeDonation">
      <h3 class="titleMoney">Give <i class="far fa-clock"></i></h3>
      <ul class="listTimeDonations">
        <li><i class="fas fa-long-arrow-alt-right"></i>
          <a class="titleHelpTime" href={{asso.linkSite}} target=" _blank">Get the facts right and educate others!</a>
          <p class="textHelpTime">In 2019, truth matters. Simply by reading about our missions, learning about the
            issues at hand, and fact-checking the news you encounter, you can make a real difference.</p>
        </li>
        <li><i class="fas fa-long-arrow-alt-right"></i>
          <a class="titleHelpTime" href={{asso.linkSite}} target=" _blank">Volunteer with us!</a>
          <p class="textHelpTime">Once in a while, why not replace your Netflix session by an evening volunteering
            with us? Your time is everything.</p>
        </li>
        <li><i class="fas fa-long-arrow-alt-right"></i>
          <a class="titleHelpTime" href={{asso.linkSite}} target=" _blank">Join our street fundraising team!</a>
          <p class="textHelpTime">Woke af? Well might as well make it your job. Make your career human today and join
            our team.</p>
        </li>
      </ul </div> </div> </div>